@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Orbitron&family=Oswald:wght@200&family=Red+Rose:wght@700&display=swap');

body{
    background-color: #e7e7e7;
}

.container{
    display: flex;
    flex-direction: column;
    margin: -8px;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    width: 1350px;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    
}

.nav-bar-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 300px;
}

.list{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   list-style-type: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}

.li:hover{
    color: #000;
    transition: 1s;
}

.li{
    padding-left: 20px;
    padding-right: 20px;
    color: #2e2d2db0;
    font-weight: 600;
}

.register{
    width: 110px;
    height: 35px;
    border-radius: 6px;
    border-color: #07A5F4;
    color: #07A5F4;
    background-color: transparent;
    font-weight: 500;
    position: relative;
    left: 50px;
}

.nav-bar-list>button:hover{
    color: #fff;
    background-color: #07A5F4;
    border: none;
    transition: 1s;
}

.logo{
    width: 150px;
}

.section1{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.section1-left-vertical1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #1d2b4f;
    line-height: 60px;
}

.section1-left-vertical2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2e2d2db0;
    line-height: 30px;
}

.choose-package{
    width: 210px;
    height: 55px;
    border-radius: 6px;
    letter-spacing: 1px;
    color:#fff;
    background:linear-gradient(to bottom right, #07A5F4, #3950d3);
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choose-package:hover{
    background: transparent;
    border-style: solid;
    border-color: #07A5F4;
    color: #07A5F4;
    transition: 1s;
}

.section2{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;    
}

.section2-right-vertical1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:#1d2b4f;
    line-height: 60px;
}

.section2-right-vertical2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2e2d2db0;
    line-height: 30px;
}

.read-more{
    width: 170px;
    height: 55px;
    border-radius: 6px;
    color:#fff;
    background:linear-gradient(to bottom right, #07A5F4, #3950d3);
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.read-more:hover{
    background: transparent;
    border-style: solid;
    border-color: #07A5F4;
    transition: 1s;
    color: #07A5F4;
}

.section3{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.section3-left-vertical1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #1d2b4f;
    line-height: 60px;
}

.section3-left-vertical2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2e2d2db0;
    line-height: 30px;
}

.section3-img{
    width: 550px;
    height: 465px;
}

.section4{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

.section4-upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section4-lower{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 60px;
}

.section4-cards>h4{
    color: #1d2b4f;
    font-size: 23px;
}

.section4-cards>p{
    color: #2e2d2db0;
    line-height: 25px;
    width: 300px;
}

.section4-lower-part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.section-lower-part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.section4-upper-left{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    width: 600px;
    color: #1d2b4f;
    line-height: 80px;
}

.section4-upper-right{
    width: 600px;
    color: #2e2d2db0;
    line-height: 30px;
}

.section5{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to bottom right, #23C4ED, #207398);
}

.section5-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    width: 600px;
    color: #fff;
    align-self: center;
}

.section5-cards{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-around;
    padding-bottom: 60px;
}

.section5-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    padding-bottom: 20px;
    height: 570px;
    width: 350px;
    justify-content: space-around;
    
}

.card-header{
    align-self: flex-start;
    padding-left: 50px;
    border-radius: 10px;
}

.card-header>h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #1d2b4f;
}

.card-header>h5{
    color: #2e2d2db0;
    position: relative;
    bottom: 30px;
}

.card-list-items{
    display: flex;
    flex-direction: column;
    list-style-image: url(images/bullets.png);
    color: #2e2d2db0;
    font-size: 18px;
}

.card-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-plan{
    font-size: 20px;
    color: #1d2b4f;
}

.price-plan>h2>span{
    color: #2e2d2db0;
}

.section5-card>h6{
    color: #2e2d2db0;
    font-size: 18px;
    margin-top: -25px;
    margin-bottom: 20px;
}

.choose-plan{
    width: 170px;
    height: 35px;
    border-radius: 6px;
    border-color: #07A5F4;
    color: #07A5F4;
    font-size: 15px;
    font-weight: 500;
}

.section5-card:hover > .card-header{
    background-color: #333333;
    transition: 1s;
}

.section5-card:hover > div > h3 {
    color: #fff;
    transition: 1s;
}

.section5-card:hover > div > h5 {
    color: #fff;
    transition: 1s;
}

.section5-card:hover > .card-btn > button {
    color:#fff;
    background:linear-gradient(to bottom right, #07A5F4, #3950d3);
    border: none;
    transition: 1s;
}

.section6{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}

.section6-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #1d2b4f;
    /* align-self: center; */
}

.section6-upper{
    align-self: center;
    padding-bottom: 50px;
}

.section6-upper-para{
    width: 700px;
    color: #2e2d2db0;
    align-self: center;
    text-align: center;
}

.section6-lower-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section6-lower-part-left{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border: 1px #c5c3c3b0;
    border-radius: 5px;
    border-style: solid;
    margin: 20px;
    padding: 20px 30px;
    width: 400px;
    height: 300px;
}

.section6-lower-part-right{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border: 1px #c5c3c3b0;
    border-radius: 5px;
    border-style: solid;
    margin: 20px;
    padding: 20px 30px;
    width: 400px;
    height: 300px;
}

.section6-lower-part-left>p{
    color: #333333;
    line-height: 25px;
}

.section6-lower-part-right>p{
    color: #333333;
    line-height: 25px;
}

.customer-info{
    display: flex;
    flex-direction: row;
}

.customer-img>img{
    width: 80px;
    height: 80px;
}

.customer-detail{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    bottom: 20px;
}

.customer-detail>h5{
    font-size: 17px;
    color: #333333;
}

.customer-detail>h6{
    font-size: 12px;
    color: #2e2d2db0;
    position: relative;
    bottom: 40px;
}

.section7{
    display: flex;
    flex-direction: row;
    background:linear-gradient(to bottom right, #23C4ED, #207398);
    padding-bottom: 60px;
    padding-top: 20px;
}

.section7-left{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.section7-heading{
    padding-left: 50px;
}

.section7-heading>h1{
    color: #fff;
    font-size: 45px;
}

.section7-para{
    width: 500px;
    padding-left: 50px;
}

.section7-para>p{
    color: #fff;
    font-weight: 200;
    line-height: 30px;
}

.section7-right{
    position: relative;
    left: 380px;
    top: 110px;
}

.section7-right>button{
    color: #fff;
    border-color: #fff;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
}

.section7-right>button:hover{
    color: #07A5F4;
    background-color: #fff;
    border: none;
    transition: 1s;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-part1{
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
    top: 35px;
}

.footer-part1-para{
    width: 300px;
}

.footer-part1-para>p{
    color: #2e2d2db0;
}

.footer-part2{
    display: contents;
    flex-direction: column;
}

.footer-part3{
    display: contents;
    flex-direction: column;
}

.footer-part4{
    display: contents;
    flex-direction: column;
}

.footer-part1-logo>img{
    width: 140px;
    opacity: 80%;
}

.foo{
    font-size: 12px;
    color: #2e2d2db0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.foo1{
    font-size: 20px;
    color:#333333;
}

.foo1:hover{
    color: #000;
}

.footer-part5-heading>h4{
    font-size: 20px;
    color:#333333;
}

.footer-part5-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.footer-part5-content>img{
    margin-left: 5px;
    margin-right: 5px;
}